.main {
    background-image: url('../images/main.svg');
    background-repeat: no-repeat;
    height: 85vh;
    margin-top: 10%;
    background-size: 45%;
}
.mainlead {
    font-size: 30px;
    margin-left: 10px;
}

.section2 {
    background-image:url('../images/sec2.svg') ;
    background-size: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right center;
}
.section3 {
    height: 100vh;
    background-image:url('../images/sec3.svg');
    background-size: 40%;
    background-repeat: no-repeat;

}
@media screen and (max-width: 600px) {
    .main{
        background-image: none;
    }
    .section2{
        background-image: none;
    }
    .section3{
        background-image: none;
    }
}

.footer {
    background-color: #f1f1f1;
}

.footerB {
    background-color: rgba(0, 0, 0, 0.2);
}